div.HomeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  div.formContainer {
    width: fit-content;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    margin-bottom: 2rem;
    position: relative;

    p.abs:nth-child(1) {
      position: absolute;
      right: 9rem;
      top: 3.3rem;
      font-size: 0.9rem;
    }
    p.abs:nth-child(2) {
      position: absolute;
      font-size: 0.9rem;
      right: 9rem;
      bottom: 3.4rem;
    }

    p.data {
      text-align: center;
      color: red;
    }

    div.btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      button {
        cursor: pointer;
        padding: 0.2rem 3rem;
        background-color: #c54307;
        border: none;
        border-radius: 5px;
        height: 2rem;
        color: white;
        font-weight: 600;
        font-size: 1.05rem;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 0.6rem;
    }

    input {
      padding: 1rem;
      width: 27%;
      height: 2.3rem;
      border-radius: 5px;
      margin: 1rem;
      border: 1px solid lightgray;
    }
  }
}
